<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
LIST CARS
<p> </p>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">YearManufactureCar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car:${cars}">
        <td th:text="${car.getModelCar()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getYearManufactureCar()}"></td>

    </tr>
    </tbody>

</table>
</body>
</html>