<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang=""><head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<form th:metod="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>

    <input type="submit" value="Редактировать пользователя!">

</form>


</body>
</html>