<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь по ID</title>
</head>
<body>

<p th:text="${userById.getId()}"></p>
<p th:text="${userById.getName()}"></p>
<p th:text="${userById.getSurname()}"></p>
<p th:text="${userById.getAge()}"></p>

<a th:href="@{/users/{id}/edit(id=${userById.getId()})}"> EDIT</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${userById.getId()})}"></form>
<br/>
<input type="submit" value="Удалить пользователя!">

</body>
</html>
</body>
</html>